extends base.pug 

block scripts 
    script(src='/static/index.js')
    
block style 
    style 
            include ../static/style.css

block content 

    section#introSection 
        div Welcome to Our Dance Academy 
        div.small Eat Sleep Dance Repeat

    section#missionSection
        h2 Our Mission 
        div.card 
            h3 Dance perfection
            div.card-box 
                div.card-img 
                    img(src="/static/bg2.jpg")
                div.card-content 
                    p This is the best dance academy of the universe
        div.card 
            h3 Dance the way you like 
            div.card-box 
                div.card-img 
                    img(src="/static/bg3.jpg")
                div.card-content 
                    p This is the best dance academy of the universe
        div.card 
            h3 Expert teching
            div.card-box 
                div.card-img 
                    img(src="/static/bg4.jpg")
                div.card-content 
                    p This is the best dance academy of the universe
        
    section#sponsorsSection
        h2 Our Sponsors
        div#sponsors 
            img(src="/static/apple-logo.png",alt="Sponsors",class="spImage")
            img(src="/static/download.png",alt="Sponsors",class="spImage")
            img(src="/static/insta.logo.jpeg",alt="Sponsors",class="spImage")
            img(src="/static/logocompany.w.jpg",alt="Sponsors",class="spImage")
